html, body {
  margin: 0;
}

body, #maskContainer, #img {
  width: 100vw; height: 100vh;
}

#maskContainer {
  -webkit-mask-image: url(home.png);
  mask-image: url(home.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

#img {
  object-fit: cover;
  /*background-image: url(greenGrass.jpeg);
  background-size: cover;*/
}
