html {
  font-size: 1.035vmin;
}

body {
  width: 100vw; min-height: 100vh;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

body, p {
  margin: 0;
  font-family: sans-serif;
}
button {
  color: white;
}

#viewBox, #log {
  width: 99vw;
  background-color: darkgrey;
  margin: 2rem 0.5vw;
}

#viewBox {
  height: 132vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#log {
  height: 33vw;
  font-size: 1.8em;
  overflow: scroll;
}
