html {
  font-size: 1.25vmin;
}

body, #content {
  width: 100vw; min-height: 100vh;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

#content, .fullscreen {
  text-align: center;
}

#content, .fullscreen, .task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  display: none; position: fixed;
  bottom: 2rem;
  width: calc(100vw - 14rem); height: 4rem;
  background-color: #008000;
  padding: 2rem;
}

body, #content, p {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 6em;
  margin: 3rem;
}
h2 {
  font-size: 4.4em;
}
h3, #message {
  font-size: 3.8em;
}

button, .task, #message {
  border-radius: 2.5rem;
  border: 0.9rem solid rgb(51 51 51 / 50%);
  margin: 2rem 4rem;
}

button {
  font-size: 4.3em;
  font-weight: 700;
  padding: 1.5rem 3rem;
  color: #ffffff;
  background-color: #0c6aa0;
}

.fullscreen {
  width: 100vw; height: 75vh;
  overflow: hidden auto;
}

.task {
  width: 93vw; height: 11rem;
  background-color: #777777;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}
.task > h3 {
  margin: 0 auto 0 3rem;
}

.smolBtn {
  font-size: 3.2em;
  margin: 0 2rem 0 0;
  padding: 1rem 2rem;
  border-radius: 1.6rem;
  background-color: #5c5e60;
}

input, select {
  width: 70vw;
  padding: 1.5rem;
  border: 0.8rem solid #474747;
  margin: 1rem;
  box-sizing: content-box;
  border-radius: 1.5rem;
}
