:root {
  --headerHeight: 16rem;
  --footerHeight: 18rem;
  --fullHeight: calc(100vh - var(--footerHeight) * 2 - 4rem);
  --defaultFullWidth: 92.5vw;
  --fullWidth: var(--defaultFullWidth);
  --defaultGridContent: calc(100vw - 6rem);
  --gridContent: var(--defaultGridContent);

  --yellow: #cda61a;
  --red: #a11818;
  --green: #3ea317;
  --blue: #1aa2cd;
  --fastAnim: 0.15s;
  --normalAnim: 0.3s;
  --msgShowing: 3s;
  /* Color section */
  --mainBg: black;
  --mainBgRgb: 0, 0, 0;
  --mainText: white;
  --darkBorder: rgba(51, 51, 51, 0.5);
  --darkShadow: #474747;
  --accentBlue: #3877cd;
  --accentGrey: #5c5e60;
  --accentGreen: #379b00;
  --accentRed: #cb3a3a;
  --lightBlueBg: #6f879c;
  --taskBg: #46454582;
  --gradientLight: #5a73f2;
  --gradientDark: #0f0b30;
  --infoRectBg: #22222275;
  --lightBorder: rgba(227, 227, 227, 0.35);
  --popupBg: #343434;
  --marker: aliceblue;
  --msgBg: var(--mainBg);
  --focusBorder: #d1d1d1;
  --focusBg: #4b4b4b;
}

html { font-size: 1.25vmin; }

@media (prefers-color-scheme: light) {
  :root {
    --mainBg: #f2f2f2;
    --mainBgRgb: 236, 236, 236;
    --mainText: black;
    --darkBorder: rgba(232, 232, 232, 0.5);
    --darkShadow: #b1b1b1;
    /*--accentBlue: #699ade;*/
    --accentGrey: #a7a7a8;
    /*--accentGreen: #54c416;
    --accentRed: #ef5353;*/
    --lightBlueBg: #bdd9f2;
    --taskBg: #dddddd82;
    /*--gradientLight: #9aaafa;*/
    --gradientDark: #463e8c;
    --infoRectBg: #e9e9e975;
    --lightBorder: rgb(174, 174, 174, 0.35);
    --popupBg: var(--mainBg);
    --marker: #7cc2ff;
    --msgBg: #232323;
    --focusBorder: #626262;
    --focusBg: #dbdbdb;
  }
}

@media (pointer: fine) and (hover: hover) {
  button, input, select, [role="button"] {
    cursor: pointer;
  }
  input[type="text"]:not(:disabled) { cursor: text; }
  input[type="range"]:not(:disabled) { cursor: grab; }
  input[type="range"]:focus-visible {
    outline: var(--accentBlue) solid medium;
    outline-offset: -0.7rem;
  }
  input:hover:not(:disabled), select:hover:not(:disabled) {
    --border: var(--focusBorder);
  }
  input:focus, select:focus {
    --border: var(--accentBlue);
    outline: white solid thin;
  }
  button:hover { filter: brightness(0.8); }
  button:focus-visible, [role="button"]:focus-visible {
    border-color: var(--mainText) !important;
  }
  [role="button"]:hover:not(:disabled), [role="button"]:focus,
  [role="button"]:not(:focus):focus-within {
    background-color: var(--focusBg);
  }
  button:active, [role="button"]:active { transform: scale(0.97); }
  button.emojiBtn:active { transform: scale(0.93); }

  @media (prefers-reduced-motion: no-preference) {
    button:hover { transform: scale(0.97); }
    button:active, button.emojiBtn:hover { transform: scale(0.93); }
    button.emojiBtn:active { transform: scale(0.78); }
    button:disabled:hover { transform: none; }
  }
}

@media (pointer: coarse) and (prefers-reduced-motion: no-preference) {
  button:active, [role="button"]:active {transform: scale(0.95); }
  button.emojiBtn:active { transform: scale(0.89); }
  button:disabled:active { transform: none; }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --fastAnim: 0;
    --normalAnim: 0;
    --msgShowing: 0;
  }
  .hidePrevPage { opacity: 0; }
}

@media (orientation: portrait) {
  .floatingMsg.notFixed { min-height: 17.5rem; }
}

@media (max-height: 675px) and (orientation: portrait) and (max-aspect-ratio: 12 / 16) {
  :root {
    --defaultFullWidth: 93.2vw;
    --headerHeight: 13rem;
    --footerHeight: 14rem;
  }
  html { font-size: 1.15vmin; }
}

@media (min-width: 470px) {
  :root {
    --fullWidth: 450px;
    --gridContent: var(--fullWidth);
  }
  html { font-size: 0.65vmin; }
}

@media (min-width: 470px) and (orientation: portrait) {
  :root { --fullWidth: 75vw; }
}

@media (min-width: 935px) and (orientation: landscape) {
  :root { --gridContent: calc(var(--fullWidth) * 2 + 3rem); }
  .doubleColumns:not(.center) {
    display: flex; height: fit-content;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
    focus-group-name: auto;
    focus-group-direction: vertical;
  }
  .doubleColumns > * { width: var(--fullWidth); }
  .floatingMsg.notFixed { min-height: 13rem; }
}

body, .page, #settings, #popup {
  width: 100vw; height: 100vh;
  height: stretch;
  height: -webkit-fill-available;
  height: 100svh;
  overflow: hidden;
  background-color: var(--mainBg);
  color: var(--mainText);
  margin: 0;
}
.page, #settings {
  position: fixed;
  display: grid;
  top: 0; left: 0;
  grid-template-areas:
    "... header ..."
    "... content ..."
    "footer footer footer"
  ;
  grid-template-rows: var(--headerHeight) 1fr var(--footerHeight);
  grid-template-columns: minmax(3rem, 1fr) var(--gridContent) minmax(3rem, 1fr);
}
#settings {
  z-index: 1;
  --footerHeight: 0;
  transform: translateX(100vw);
  transition: transform var(--fastAnim);
}
#settings > .content > *:last-child {
  margin-bottom: 4rem;
}
.page {
  --dark: rgba(var(--mainBgRgb), 0.3);
  --overlay: linear-gradient(var(--dark), var(--dark));
  transform: translateX(100vw);
  transition: transform var(--normalAnim);
  background-size: cover;
}
.showing {
  transform: translateX(0);
}
.hidePrevPage {
  transform: translateX(-35vw);
}

.header { grid-area: header; }
.content { grid-area: content; }
.footer { grid-area: footer; }

.header, .content, .footer, .task, .floatingMsg, #infoBackground, .dataLine {
  display: flex;
}
.header > h1, .header > h4 {
  margin-right: auto;
  line-height: 1.2;
}
.content {
  flex-direction: column;
  align-items: start;
  overflow: hidden auto;
  scroll-snap-type: y mandatory;
}
.content, .hiddenScroll {
  scrollbar-width: none;
}
.content::-webkit-scrollbar, .hiddenScroll::-webkit-scrollbar {
  width: 0; height: 0;
}
.header, .footer, .content.center, .floatingMsg {
  align-items: center;
}
.footer, .center {
  justify-content: center;
}
.center {
  text-align: center;
}
.center h2 {
  margin: 3rem 6rem;
}

body, .content, h1, h2, h3, h4, p, button {
  margin: 0;
  font-family: Arial, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

h1, h4 {
  font-size: 6em;
  transition: transform var(--normalAnim);
}
h2 {
  font-size: 4.9em;
  margin: 1rem;
  line-height: 1.2;
}
h3, #message {
  font-size: 3.8em;
  margin: 1rem;
  line-height: 1.17;
}
p {
  font-size: 2.5em;
  margin: 0 1rem;
  line-height: 1.12;
}
.emoji {
  font-size: 9em;
}

button, .task, #message, input, select, #infoBackground,
.infoRect, #popup > div, .floatingMsg, .historyMonth > * {
  box-sizing: border-box;
  background-origin: border-box;
}

button, .task, #message, #infoBackground,
.infoRect, #popup > div, .floatingMsg {
  border-radius: 2.5rem;
  border: 0.9rem solid var(--darkBorder);
  margin: 2.5rem 1.5rem;
}
.content > button {
  margin: 2rem 0;
}

button, [role="button"] { outline: none !important; }
[role="button"] {
  transition: background-color var(--fastAnim),
    transform var(--normalAnim), border-color var(--normalAnim);
}
button {
  min-height: 11.6rem;
  font-size: 4.3em;
  font-weight: 700;
  padding: 2rem 4rem 2rem 3rem;
  color: white; --bgColor: var(--accentBlue);
  background-color: var(--bgColor) !important;
  line-height: 1.3;
  transition: filter var(--fastAnim),
    transform var(--normalAnim), border-color var(--normalAnim);
}
button.noEmoji {
  padding-right: 3rem;
}
button.emojiBtn {
  min-height: 0;
  font-size: 5em;
  --bgColor: transparent;
  border-color: transparent;
  margin: 0;
  padding: 1rem;
  line-height: 1.2;
}
button.secondary {
  --bgColor: var(--accentGrey);
}
button.success {
  --bgColor: var(--accentGreen);
}
button.danger {
  --bgColor: var(--accentRed);
}
button:disabled, [disabled] {
  filter: grayscale(1);
  cursor: default;
}

#message, .floatingMsg:not(.notFixed) {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#message {
  display: none; z-index: 999;
  width: var(--fullWidth); min-height: 5rem;
  padding: 2rem; margin: 0;
  bottom: 4rem;
  background-image: linear-gradient(90deg, var(--color) 0%, var(--msgBg) 75%);
  border-color: var(--color);
  color: white;
}
#message.animate {
  display: block;
  animation: msgShowing var(--msgShowing);
}
@keyframes msgShowing {
  0% {opacity: 0;}
  15% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

.floatingMsg {
  width: var(--gridContent);
  background-color: var(--lightBlueBg);
  margin: 0;
  bottom: var(--footerHeight);
}
.floatingMsg h3 {
  margin: 3rem;
  text-align: left;
}
.floatingMsg button {
  margin-left: auto;
  margin-right: 3rem;
}

@keyframes elemShowing {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.task, .itemsHolder, #history, .floatingMsg {
  animation: elemShowing var(--normalAnim);
}

.task {
  width: var(--fullWidth);
  /*background-color: #777777;*/
  background-color: var(--taskBg);
  flex-direction: row;
  margin: 0 0 2.5rem;
  focus-group-name: extend;
  focus-group-direction: horizontal;
}
.first {
  margin-top: 2.5rem;
}
.task > div {
  margin: 1rem auto 2rem 2rem;
  text-align: left;
}
.task h2 {
  margin: 1.5rem auto 0 1rem;
}
.task > :last-child {
  margin-right: 2rem;
}
.customBgContainer .task {
  --blur: 12px;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
}

#infoBackground, .itemsHolder, #history, #history > .historyMonth {
  scroll-snap-align: start;
}

#infoBackground {
  width: var(--fullWidth); min-height: 32rem;
  background-image: linear-gradient(135deg, var(--gradientLight) -10%, var(--gradientDark) 60%);
  flex-direction: column-reverse;
  margin: 0 0 1rem;
}
#infoBackground > h4 {
  margin: 2rem 3rem;
  color: white;
}

.itemsHolder, #history, .historyMonth {
  display: flex; flex-wrap: wrap;
}

.itemsHolder, input, select, progress {
  min-width: var(--fullWidth);
  margin: 1rem 0;
}

.infoRect {
  width: calc(var(--fullWidth) * var(--coef) / 2 - 3rem);
  min-height: 24rem;
  background-color: var(--infoRectBg);
  background-image: linear-gradient(150deg, var(--color) -40%, transparent 40%);
  border-color: var(--lightBorder);
  margin: 1.5rem;
}
.infoRect > * {
  margin: 2rem 2.5rem;
}

input, select {
  min-height: 8.5rem;
  padding: 1.5rem 2rem;
  border: 0.8rem solid var(--border);
  --border: var(--darkShadow);
  border-radius: 1.5rem;
  outline: none;
  transition: border-color var(--fastAnim);
}
input:disabled, select:disabled {
  background-color: var(--darkShadow);
  color: var(--mainText);
}
progress {
  min-height: 4rem;
  margin: 5rem 0;
  cursor: progress;
}
.pageBtn, .hidedUI, #editButtons, #popup, input[type="file"],
.uploadUI, .uploadSuccess, .downloadUI, .downloadLink, #nextRemind,
.historyMonth > [data-used="false"] {
  display: none;
}

#popup {
  position: fixed; z-index: 900;
  background-color: rgba(0, 0, 0, 0.4);
}
#popup > div {
  width: calc(var(--fullWidth) - 5rem);
  height: 39rem;
  background-color: var(--popupBg);
  margin: 0;
}

#history {
  width: var(--fullWidth); min-height: var(--fullHeight);
  flex-direction: column;
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
}
.historyMonth > * {
  width: calc(var(--fullWidth) / 7);
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border: 0.8rem solid transparent;
  border-radius: 2rem;
}
#history .historyMonth > *:last-child {
  background-color: var(--marker);
}
.dayTitle {
  opacity: 0;
  transition: opacity var(--normalAnim);
}

.dataLine { align-items: baseline; }
