html {
  font-size: 1.035vmin;
}

body {
  width: 100vw; min-height: 100vh;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

body, .fullscreen, .thing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, p {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.8em;
}

button, .thing {
  border-radius: 0.5rem;
  border: 0.2rem solid #dddddd;
}

button {
  font-size: 2.1em;
  padding: 0.2rem 0.7rem;
  color: #000000;
  background-color: #ffffff;
}

.fullscreen {
  width: 100vw; height: auto;
  overflow: hidden auto;
}

.thing {
  width: 95vw; height: 7.8rem;
  background-color: #777777;
}
